body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 0; /* Remove padding to avoid extra spacing */
    margin: 0; /* Remove default margin */
    height: 100vh; /* Ensure full viewport height */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.crafting-calculator {
    background-color: #000;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #fff; /* White border */
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    transition: opacity 0.5s ease; /* Add transition for opacity */
    max-width: 400px; /* Limit max width to prevent stretching */
    width: 100%; /* Ensure it takes full width of container */
    text-align: center; /* Center text inside the box */
}

.crafting-calculator h1 {
    text-align: center;
    margin-bottom: 20px;
}

.crafting-calculator label {
    display: block;
    margin-bottom: 5px;
}

/* Center input fields */
.crafting-calculator input[type="text"],
.crafting-calculator input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding and border in width calculation */
}

/* Center button */
.crafting-calculator button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in width calculation */
}

/* Center result spans */
.crafting-calculator .results span {
    display: inline-block;
    margin-right: 10px; /* Adjust margin between spans */
}

.crafting-calculator button:hover {
    background-color: #3e8e41;
}

.crafting-calculator .results {
    margin-top: 20px;
}

.crafting-calculator .results p {
    margin-bottom: 5px;
}